<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
    jQuery(document).ready(function($) {
	$(".tab_content").hide();
	$("ul.tabs li:first").addClass("active").show();
	$(".tab_content:first").show();
	$("ul.tabs li").click(function() {
		$("ul.tabs li").removeClass("active");
		$(this).addClass("active");
		$(".tab_content").hide();
		var activeTab = $(this).find("a").attr("href");
		$(activeTab).fadeIn(0);
		return false;
	});
    $('#order_date_from').datetimepicker({
    	dateFormat: 'dd/mm/yy',
        showSecond: true,
        timeFormat: 'hh:mm:ss'
    });
	$('#order_date_till').datetimepicker({
    	dateFormat: 'dd/mm/yy',
        showSecond: true,
		timeFormat: 'hh:mm:ss',
		hour: 23,
        minute: 59,
        second: 59
    });
        $(document).on("change", "#checkAllCMS", function () {
            if ($(this).prop("checked") == true) {
                $(".download_cms_cb").prop("checked", true);
            } else {
                $(".download_cms_cb").prop("checked", false);
            }
        });
        $(document).on("click", "#dl_submit", function () {
            var selected_cms_id = $(".download_cms_cb").serialize();
            console.log(selected_cms_id);
            if (selected_cms_id != "") {
                location.href = "###ADMIN_CMS_LINK###&" + selected_cms_id;
            }
        });
    });
</script>
<div class="panel panel-default">
<div class="panel-heading">
    <h3>CMS</h3>
    ###INTERFACE_HEADER_BUTTONS###
</div>
<div class="panel-body">

            <form id="form1" name="form1" method="get" action="index.php">
    	<div id="page-topheader" class="well">
			<div class="row">
				<div class="col-md-6">
                                <input name="tx_multishop_pi1[do_search]" type="hidden" value="1" />
                                <input name="id" type="hidden" value="###SHOP_PID###" />
                                <input name="type" type="hidden" value="2003" />
                                <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_cms" />
                                <div class="form-inline">
                                    <div class="form-group">
                                        <label>###LABEL_KEYWORD###</label>
                                        <div class="input-group">
                                        <input type="text" name="tx_multishop_pi1[keyword]" id="skeyword" value="###VALUE_KEYWORD###" class="form-control" />
                                        <span class="input-group-btn">
                                        	<input type="submit" name="Search" class="btn btn-success" value="###LABEL_SEARCH###" />
                                        </span>
                                        </div>
                                    </div>
                                </div>
				</div>
				<div class="col-md-6 searchLimit">

                                    ###INPUT_LIMIT_RESULT_SELECTBOX###
                </div>
			</div>
		</div>
    </form>
			<!-- ###RESULTS### begin -->
			<table class="table table-striped table-bordered msadmin_orders_listing table-responsive" id="product_import_table">
			<thead>
				<tr>
                    ###HEADER_CHECKALL_COLUMN###
                    <th class="cellID"><a href="###HEADER_SORTBY_LINK_ID###">###LABEL_HEADER_CMS_ID###</a></th>
                    <th class="cellName"><a href="###HEADER_SORTBY_LINK_TITLE###">###LABEL_HEADER_CMS_TITLE###</a></th>
					<th width="150" nowrap><a href="###HEADER_SORTBY_LINK_TYPE###">Type</a></th>
					<th class="cellDate"><a href="###HEADER_SORTBY_LINK_DATE_ADDED###">###LABEL_HEADER_CMS_DATE_ADDED###</a></th>
					###LABEL_HEADER_SHOP###
					<th class="cellStatus">###LABEL_HEADER_STATUS###</th>
					<th class="cellAction">###LABEL_HEADER_CMS_ACTION###</th>
				</tr>
				</thead>
				<tbody id="cms_group_###CMS_GROUP_ID###">
                <!-- ###CMS_LIST### begin -->
                <tr class="###ROW_TYPE###">
                    ###DOWNLOAD_CMS_CHECKBOX###
                    <td class="cellID">
                    ###CMS_ID###
					</td>
					<td class="cellName">
						###CMS_TITLE###
                    </td>
                    <td nowrap>
						###CMS_TYPE###
                    </td>
                    <td class="cellDate">
						###CMS_DATE_CREATED###
                    </td>
					###CMS_VALUE_SHOP###
                    <td class="cellStatus">
						###CMS_STATUS###
					</td>
					<td class="cellAction">
						###CMS_REMOVE_BUTTON###
					</td>
				</tr>
                <!-- ###CMS_LIST### end -->
                <tfoot>
                <tr>
                    ###FOOTER_CHECKALL_COLUMN###
                    <th class="cellID"><a href="###FOOTER_SORTBY_LINK_ID###">###LABEL_FOOTER_CMS_ID###</a></th>
					<th class="cellName"><a href="###FOOTER_SORTBY_LINK_TITLE###">###LABEL_FOOTER_CMS_TITLE###</a></th>
					<th width="150" nowrap><a href="###FOOTER_SORTBY_LINK_TYPE###">Type</a></th>
					<th class="cellDate"><a href="###FOOTER_SORTBY_LINK_DATE_ADDED###">###LABEL_FOOTER_CMS_DATE_ADDED###</a></th>
					###LABEL_FOOTER_SHOP###
					<th class="cellStatus">###LABEL_FOOTER_STATUS###</th>
					<th class="cellAction">###LABEL_FOOTER_CMS_ACTION###</th>
				</tr>
				</tfoot>
            </table>

                <div class="row">
			        ###DOWNLOAD_CMS_BUTTON###
                </div>
<hr/>
			<!-- ###RESULTS### end -->
			<!-- ###NORESULTS### begin -->
			###LABEL_NO_RESULTS###
			<!-- ###NORESULTS### end -->
            ###IMPORT_CMS_FILE###



<!-- ###TEMPLATE### end -->