<!-- ###TEMPLATE### begin -->
<script type="text/javascript">
jQuery(document).ready(function ($) {
    $(".tab_content").hide();
    $("ul.tabs li:first").addClass("active").show();
    $(".tab_content:first").show();
    $("ul.tabs li").click(function() {
        $("ul.tabs li").removeClass("active");
        $(this).addClass("active");
        $(".tab_content").hide();
        var activeTab = $(this).find("a").attr("href");
        $(activeTab).fadeIn(0);
        return false;
    });
    $("#invoice_date_from").datetimepicker({
        dateFormat: "###DATE_TIME_JS_FORMAT0###",
        showSecond: true,
        timeFormat: "HH:mm:ss"
    });
    $("#invoice_date_till").datetimepicker({
        dateFormat: "###DATE_TIME_JS_FORMAT1###",
        showSecond: true,
        timeFormat: "HH:mm:ss",
        hour: 23,
        minute: 59,
        second: 59
    });
    $(".invoice_select2").select2();
    //
    jQuery(".tooltip").tooltip({position: "bottom"});
    $(document).on("change", "#check_all_1", function () {
        $("#msAdminInvoicesListing").find('input').prop('checked',$(this).prop("checked"));
    });

    //
    $('#selected_invoices_action').change(function() {
        if ($(this).val()=='mail_invoices') {
            $("#msadmin_invoices_mailto").show();
        } else {
            $("#msadmin_invoices_mailto").hide();
        }
    });
});
</script>
<div class="panel-heading">
    <h3>###ADMIN_LABEL_TABS_INVOICES###</h3>
    ###INTERFACE_HEADER_BUTTONS###
</div>
<div class="panel-body">
    <form id="form1" name="form1" method="get" action="index.php">
        <div class="panel panel-default">
            <div class="panel-heading">
                    <div class="form-inline form-collapse">
                        <div class="input-group">
                            <input class="form-control" type="text" name="skeyword" id="advance-skeyword" value="###VALUE_KEYWORD###" placeholder="###LABEL_KEYWORD###" />
                            <i class="fa fa-search 2x form-control-inputsearch"></i>
                            <span class="input-group-btn">
                                <input type="submit" name="Search" id="advanceSearchSubmit" value="###VALUE_SEARCH###" class="btn btn-success" />
                            </span>
                        </div>
                        <a role="button" data-toggle="collapse" href="#msAdminInterfaceSearch" class="advanceSearch">###LABEL_ADVANCED_SEARCH###</a>
                    </div>
                    <div class="form-inline pull-right">
                        <label for="limit" class="control-label">###LABEL_RESULTS_LIMIT_SELECTBOX###:</label>
                        ###RESULTS_LIMIT_SELECTBOX###
                    </div>
            </div>
            <div id="msAdminInterfaceSearch" class="panel-collapse collapse###UNFOLD_SEARCH_BOX###">
                <div class="panel-body">
                    <div id="search-orders" class="well no-mb">
                        <input name="id" type="hidden" value="###SHOP_PID###" />
                        <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_invoices" />
                        <input name="type" type="hidden" value="2003" />
                        <div class="row formfield-container-wrapper">
                            <div class="col-md-4 formfield-wrapper">
                                <div class="form-group">
                                    <label for="type_search">###LABEL_SEARCH_ON###</label>
                                    ###OPTION_ITEM_SELECTBOX###
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ordered_manufacturers">###LABEL_ORDERED_MANUFACTURER###</label>
                                    <div class="form-inline">
                                        <input type="hidden" class="ordered_manufacturer" name="ordered_manufacturer" value="###VALUE_ORDERED_MANUFACTURER###" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ordered_category">###LABEL_ORDERED_CATEGORY###</label>
                                    <div class="form-inline">
                                        <input type="hidden" class="ordered_category" name="ordered_category" value="###VALUE_ORDERED_CATEGORY###" />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="control-label" for="ordered_product">###LABEL_ORDERED_PRODUCT###</label>
                                    <div class="form-inline">
                                        <input type="hidden" class="ordered_product" name="ordered_product" value="###VALUE_ORDERED_PRODUCT###" />
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 formfield-wrapper">
                                <div class="form-group">
                                    <label for="invoice_paid_status" class="labelInbetween">###LABEL_INVOICES_PAID_STATUS###</label>
                                    ###INVOICES_PAID_STATUS_SELECTBOX###
                                </div>
                                <div class="form-group">
                                    <label for="invoice_type" class="labelInbetween">###LABEL_INVOICES_TYPE###</label>
                                    ###INVOICES_TYPE_SELECTBOX###
                                </div>
                                <label>###LABEL_FILTER_BY_DATE###</label>
                                <div class="form-group">
                                    <div class="form-inline from-date-field">
                                        <label for="order_date_from">###LABEL_DATE_FROM###</label>
                                        <input type="text" class="form-control" name="invoice_date_from" id="invoice_date_from" value="###VALUE_DATE_FROM###">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-inline till-date-field">
                                        <label for="order_date_till" class="labelInbetween">###LABEL_DATE_TO###</label>
                                        <input type="text" class="form-control" name="invoice_date_till" id="invoice_date_till" value="###VALUE_DATE_TO###">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="form-group">
                                        <div class="checkbox checkbox-success checkbox-inline">
                                            <input type="checkbox" id="filter_by_paid_date" name="tx_multishop_pi1[filter_by_paid_date]" value="1"###FILTER_BY_PAID_DATE_ONLY_CHECKED### ><label for="filter_by_paid_date">###LABEL_FILTER_BY_PAID_DATE_ONLY###</label>
                                        </div>
                                    </div>
                                    <div class="checkbox checkbox-success checkbox-inline">
                                        <input type="checkbox" id="filter_by_excluding_vat" name="tx_multishop_pi1[excluding_vat]" value="1"###EXCLUDING_VAT_CHECKED###>
                                        <label for="filter_by_excluding_vat">###EXCLUDING_VAT_LABEL###</label>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="groups" class="labelInbetween">###LABEL_USERGROUP###</label>
                                    ###USERGROUP_SELECTBOX###
                                </div>
                                <div class="form-group">
                                    <label for="order_customer" class="labelInbetween">###LABEL_USERS###</label>
                                    <input type="hidden" class="order_customer" name="order_customer" value="###VALUE_ORDER_CUSTOMER###" />
                                </div>
                                <div class="form-group">
                                    <label for="orders_status_search">###LABEL_ORDER_STATUS###</label>
                                    ###INVOICES_STATUS_LIST_SELECTBOX###
                                </div>
                            </div>
                            <div class="col-md-4 formfield-wrapper">
                                <div class="form-group">
                                    <label for="payment_method">###LABEL_PAYMENT_METHOD###</label>
                                    ###PAYMENT_METHOD_SELECTBOX###
                                </div>
                                <div class="form-group">
                                    <label for="shipping_method" class="labelInbetween">###LABEL_SHIPPING_METHOD###</label>
                                    ###SHIPPING_METHOD_SELECTBOX###
                                </div>
                                <div class="form-group">
                                    <label for="order_territory">###LABEL_TERRITORIES###</label>
                                    <input type="hidden" class="order_territory" name="order_territory" value="###VALUE_ORDER_TERRITORY###" />
                                </div>
                                <div class="form-group">
                                    <label for="country">###LABEL_COUNTRIES_SELECTBOX###</label>
                                    ###COUNTRIES_SELECTBOX###
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-footer clearfix">
                    <button type="button" id="reset-advanced-search" class="btn btn-warning pull-right">###LABEL_RESET_ADVANCED_SEARCH_FILTER###</button>
                </div>
            </div>
        </div>
    </form>
    <!-- ###RESULTS### begin -->
    <form action="###FORM_POST_ACTION_URL###" name="orders_post" id="orders_post" method="post">
        <input name="id" type="hidden" value="###SHOP_PID2###" />
        <input name="tx_multishop_pi1[page_section]" type="hidden" value="admin_invoices" />
        <input name="type" type="hidden" value="2003" />
        <div class="table-responsive">
        <table width="100%" cellpadding="0" cellspacing="0" border="0" id="msAdminInvoicesListing" class="table table-striped table-bordered">
            <thead>
                <tr>
                    <th class="cellNoWrap cellCheckbox">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" id="check_all_1"><label for="check_all_1"></label>
                        </div>
                    </th>
                    <th class="cellNoWrap cellID"></th>
                    ###CUSTOM_MARKER_0_HEADER###
                    <th class="cellNoWrap cellID">###HEADER_INVOICES_NUMBER###</th>
                    <th class="cellNoWrap cellID">###HEADER_INVOICES_ORDER_ID###</th>
                    ###HEADER_MASTER_SHOP###
                    <th class="cellFluid cellName">###HEADER_INVOICES_CUSTOMER###</th>
                    ###CUSTOM_MARKER_1_HEADER###
                    <th align="right" class="cellNoWrap cellDate">###HEADER_INVOICES_ORDER_DATE###</th>
                    <th class="cellFixed">###HEADER_INVOICES_PAYMENT_METHOD###</th>
                    <th class="cellFixed">###HEADER_INVOICES_PAYMENT_CONDITION###</th>
                    <th class="cellNoWrap cellPrice">###HEADER_INVOICES_AMOUNT###</th>
                    ###HEADER_CATEGORY_AMOUNT###
                    <th align="right" class="cellNoWrap cellDate">###HEADER_INVOICES_DATE_LAST_SENT###</th>
                    <th class="cellNoWrap cellStatus">###HEADER_INVOICES_PAID_STATUS###</th>
                    <th class="cellNoWrap cellAction">###HEADER_INVOICES_ACTION###</th>
                </tr>
            </thead>
            <tbody>
            <!-- ###INVOICES_LISTING### begin -->
                <tr>
                    <td class="cellNoWrap cellCheckbox">
                        <div class="checkbox checkbox-success checkbox-inline">
                            <input type="checkbox" name="selected_invoices[]" id="checkbox_###INVOICES_INTERNAL_ID###" value="###INVOICES_INTERNAL_ID###"><label for="checkbox_###INVOICES_INTERNAL_ID###"></label>
                        </div>
                    </td>
                    <td class="cellNoWrap cellID">###INVOICE_CTR###</td>
                    ###CUSTOM_MARKER_0_BODY###
                    <td class="cellNoWrap cellID">
                    	<a href="###DOWNLOAD_INVOICES_URL###" rel="nofollow" target="_blank"><i class="fa fa-file-pdf-o"></i></a>&nbsp;&nbsp;&nbsp;<a href="###INVOICES_URL###">###INVOICES_ID###</a>
                    </td>
                    <td class="cellNoWrap cellID"><a href="###ORDER_URL###">###INVOICES_ORDER_ID###</a></td>
                    ###MASTER_SHOP###
                    <td class="cellFluid cellName">
                        <a href="###INVOICES_URL###" target="_blank">###INVOICES_CUSTOMER_NAME###</a>
                    </td>
                    ###CUSTOM_MARKER_1_BODY###
                    <td align="right" class="cellNoWrap cellDate">###INVOICES_ORDER_DATE###</td>
                    <td align="center" class="cellFixed">###INVOICES_PAYMENT_METHOD###</td>
                    <td align="center" class="cellFixed">###INVOICES_PAYMENT_CONDITION###</td>
                    <td class="cellNoWrap cellPrice">###INVOICES_AMOUNT###</td>
                    ###CATEGORY_AMOUNT###
                    <td align="right" class="cellNoWrap cellDate">###INVOICES_DATE_LAST_SENT###</td>
                    <td class="cellNoWrap cellStatus">###INVOICES_PAID_STATUS###</td>
                    <td class="cellNoWrap cellAction">###INVOICES_ACTION###</td>
                </tr>
            <!-- ###INVOICES_LISTING### end -->
            </tbody>
            <tfoot>
                <tr>
                    <th>&nbsp;</th>
                    <th class="cellNoWrap cellID"></th>
                    ###CUSTOM_MARKER_0_FOOTER###
                    <th class="cellNoWrap cellID">###FOOTER_INVOICES_NUMBER###</th>
                    <th class="cellNoWrap cellID">###FOOTER_INVOICES_ORDER_ID###</th>
                    ###FOOTER_MASTER_SHOP###
                    <th class="cellFluid cellName">###FOOTER_INVOICES_CUSTOMER###</th>
                    ###CUSTOM_MARKER_1_FOOTER###
                    <th align="right" class="cellNoWrap cellDate">###FOOTER_INVOICES_ORDER_DATE###</th>
                    <th class="cellFixed">###FOOTER_INVOICES_PAYMENT_METHOD###</th>
                    <th class="cellFixed">###FOOTER_INVOICES_PAYMENT_CONDITION###</th>
                    <th class="cellNoWrap cellPrice">###FOOTER_INVOICES_AMOUNT###</th>
                    ###FOOTER_CATEGORY_AMOUNT###
                    <th align="right" class="cellNoWrap cellDate">###FOOTER_INVOICES_DATE_LAST_SENT###</th>
                    <th class="cellNoWrap cellStatus">###FOOTER_INVOICES_PAID_STATUS###</th>
                    <th class="cellNoWrap cellAction">###FOOTER_INVOICES_ACTION###</th>
                </tr>
            </tfoot>
        </table>
        </div>
        <div id="msAdminOrdersListingActionForm" class="row">
                    <div class="col-md-6">
                    ###FORM_FIELDS_LISTING_ACTION_BLOCK###
                    </div>
                    <div class="col-md-6"></div>
                </div>
            </form>
            ###PAGINATION###
            <!-- ###RESULTS### end -->
            <!-- ###NORESULTS### begin -->
            ###LABEL_NO_RESULTS###
            <!-- ###NORESULTS### end -->

        ###BACK_BUTTON###
                </div>
    </div>
</div>
<!-- ###TEMPLATE### end -->